*{
    padding: 0;
    margin: 0;
    border: 0;
}

#page {
    background: #40a497;
    width: 800px;
    margin: auto;
}

#page > header {
    background: #c2c2c2;
}

#navbar {
    padding: 10px 5px;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    display: inline-block;
    background : white;
    margin-left: 85px;
    padding: 5px 20px;
    border-radius: 5px;
}


