*{
    padding: 0;
    margin: 0;
    border: 0;
}

main{
    display: block;
    margin-top: 20px;
}

#page {
    width: 800px;
    margin: auto;
}

#page > header {
    background: #c2c2c2;
}

/* ########### navbar ######### */

#navbar {
    padding: 10px 5px;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    display: inline-block;
    background : white;
    margin-left: 85px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: background 1s;
}

#navbar li:hover{
    background: black;
    color: white;
}

/* ########### profil ########### */

#profil {
    border: 5px solid #c2c2c2;
    width: 20%;
    padding: 10px;
}

#profil > img {
    width: 100%;
}

#profil > h3 {
    font-weight: bold;
    text-align: center;
}

.profil-section:nth-child(2){
    padding-top: 20px;
    border-top: 5px solid #c2c2c2;
}

.pinfo .title-pinfo{
    text-decoration: underline;
}

.pinfo .title-pinfo::after{
    content: " :";
}

.pinfo .content-pinfo{
    font-style: italic;
}

.pinfo .content-pinfo::selection{
    background:black;
    color: white;
}

#summary > ul li{
    list-style: none;
}

