@main_color: blue;
@light_main_color: lighten(@main_color, 10%);
@size_main_content: 70%;

.toto{
	color: @main_color;
	.tata {
		background: blue;
	}
	width: 100% - @size_main_content;
}

.tutu{
	color: @main_color;
	width: @size_main_content
}