.navbar {
	background-color: grey;
	padding: 10px 30px;
}

.nb-item {
    display: inline;
	border-radius: 10px;
	background-color: white;
	padding: 5px 15px;
}


.navbar > ul{
	list-style-type : none;
}

.navbar a {
	color: black;
    text-decoration: none;
}

h1 {
	color : green;
}

.modo.admin {
	color : red;
}

.auteur {
	/* mettre en italic */
	font-style: italic;

	/* mettre en gras */
	font-weight: bold;
}

.modo {
	text-decoration : underline;
	color: green;
}

#chat {
	background-color: rgba(145,111,136,0.3);
}

td,th {
	border: 1px solid black;
}

