body {
	min-width: 550px;
	margin: auto;
	margin: 25px;
}

main {
	margin-top: 40px;
}

hr {
	margin: 30px 0;
}

/* ##### Navbar ##### */

#navbar{
	background-color: #ccc;
	padding: 25px 5%;
	text-align: center;
}

#navbar ul {
	margin: 0;
	padding: 0;
}

#navbar li {
	position: relative;
	display: inline;
	background-color: white;
	padding: 10px 5%;
	border-radius: 10px;
	transition: background-color 1s;
}

#navbar li:nth-child(n+2){
	margin-left: 5%;
}


#navbar li a {
	text-decoration: none;
}

/* animation */
#navbar li:hover{
	background-color: #be81f7;
}
#navbar li .secret{
	padding: 5px 10px;
    right: 5px;
    position: absolute;
    display: initial;
    color: white;
    margin: 0;
    background-color: green;
    top: 5px;
	visibility: hidden;
	transition: right 1s, opacity 2s;
	opacity: 0;
}

#navbar li:hover .secret{
	visibility: visible;
	right: -20px;
	opacity: 1;
}


/* #### aside #### */

aside {
	padding: 50px 30px;
	float: left;
	border: 5px solid #ccc;
	width: 15%;
	box-sizing: border-box;
}

aside hr {
	border: 2px solid grey;
}

/* profil info */

#profil-pseudo {
	font-size: 1.5em;
}

#profil-pseudo, #profil-infos > img{
	display: block;
}

#profil-infos > img {
	margin: auto;
	width: 150px;
}

#profil-pseudo{
	text-align: center;
}
.info-comp {
	margin-top: 20px;
}

.info-comp h4{
	text-decoration: underline;
	margin: 0;
}

.info-comp h4::after{
	content: " :"
}

.info-comp p{
	margin: 0;
	font-style: italic;
}

/* sommaire */
#page-sommaire ul {
	list-style: none;
}

#page-sommaire ul li{
	margin-bottom: 15px;
}

#page-sommaire ul a{
	text-decoration: none;
	color: black;
}

/* #### main content #### */

#main-content {
	box-sizing: border-box;
	width: 85%;
	padding-left: 40px;
	float: left;
}

#main-content > h2 {
	text-align: center;
	
}

/* presentation */

#presentation-section {
	border: 5px solid rgb(202,136,202);
}

#presentation-section > h2{
	text-align: center;
	border-bottom: 5px solid rgb(202,136,202);
	color: rgb(202,136,202);
	
    padding: 10px 0;
    margin: 0;
}

#infos{
	padding: 10px 50px;
}

.theme{
	margin-bottom: 60px;
}

.theme > h3 {
	color: rgb(112,145,190);
}

.theme p {
	color: rgb(58,162,232);
}