body {
	min-width: 550px;
	margin: auto;
}

/* ##### Navbar ##### */

#navbar{
	background-color: #ddd;
	padding: 25px 5%;
	text-align: center;
}

#navbar ul {
	margin: 0;
	padding: 0;
}

#navbar li {
	display: inline;
	background-color: white;
	padding: 10px 5%;
	border-radius: 10px;
}

#navbar li:nth-child(n+2){
	margin-left: 5%;
}

#navbar li a {
	text-decoration: none;
}

/* #### aside #### */

aside {
	padding: 50px 30px;
	display: inline-block;
	border: 4px solid grey;
}

#profil-pseudo, #profil-infos > img{
	display: block;
}

#profil-infos > img {
	margin: auto;
	width: 150px;
}

#profil-pseudo{
	text-align: center;
}

aside hr {
	border: 2px solid grey;
}